@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$c_primary:                 #183153;
$c_special:                 #ffd401;
$c_text:                    #222;

$fontsFolder:               'assets/fonts/';
$i:                         'assets/i';
$icons:                     $i + '/icons';

$transition:                all .3s ease-in-out;

// @medias
$desktop:               'only screen and (max-width: 1279px)';
$mobile:                'only screen and (max-width: 767px)';
$mobile_min:            'only screen and (min-width: 767px)';
$mobile_s:              'only screen and (max-width: 500px)';
$tablet:                'only screen and (max-width: 1023px)';

// fonts
$font_main:             Montserrat, Arial, Helvetica, sans-serif;