// *** Hierarchy ***
// Standard class
// ID
// Other classes
// Different screen sizes

// Standart class [START]
body {
	font-family: $font_main;
	font-size: 16px;
	margin: 0 auto;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	position: relative;
}

button {
	background: 0 none;
	cursor: pointer;
	outline: 0 none;
}

h1 {
	color: #fff;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 1em;
	padding: 0;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
}

h2 {
	animation: letterSpacing 12s ease infinite;
	color: #000;
	display: block;
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: .1em;
	line-height: 1.2;
	margin: 0;
	opacity: .8;
	padding: .3em 0;
	position: relative;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;

	@media #{$tablet} {
		font-size: 70px;
	}

	@media #{$mobile} {
		font-size: 50px;
	}

	@media #{$mobile_s} {
		font-size: 30px;
	}
}

h3 {
	color: #000;
	font-size: 24px;
	font-weight: 900;
	padding: 1em 0 0;
	position: relative;
	text-align: left;
	text-transform: uppercase;
}

h4 {
	color: #000;
	font-size: 20px;
	font-weight: normal;
	line-height: 100%;
	margin: 0 0 5%;
	text-align: center;
}

h5 {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}

html {
	font-family: $font_main;
	font-size: 14px;
	margin: 0 auto;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	position: relative;
}
// Standart class [END]



// ID [START]
// ID [END]



// help classes [START]
.logo {
  height: 100px;
  width: 100px;
}

.wrap {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 30px;
	width: 100%;

	@media #{$mobile} {
		padding: 0 10px;
	}
}

.wrap2 {
	margin: 0 auto;
	max-width: 1980px;
	padding: 0 30px;
	width: 100%;

	@media #{$mobile} {
		padding: 0 10px;
	}
}
// help classes [END]