// *** Hierarchy ***
// Standard class
// ID
// Other classes
// Different screen sizes

// Standart class [START]
body {
	font-family: $font_main;
	font-size: 16px;
	margin: 0 auto;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	position: relative;
}

h1 {}

html {
	font-family: $font_main;
	font-size: 14px;
	margin: 0 auto;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	position: relative;
}
// Standart class [END]



// ID [START]
// ID [END]



// help classes [START]
.logo {
  height: 100px;
  width: 100px;
}

.wrap {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 30px;
	width: 100%;

	@media #{$mobile} {
		padding: 0 10px;
	}
}

.wrap2 {
	margin: 0 auto;
	max-width: 1980px;
	padding: 0 30px;
	width: 100%;

	@media #{$mobile} {
		padding: 0 10px;
	}
}
// help classes [END]