// *** Hierarchy ***
// Standard class
// ID
// Other classes
// Different screen sizes

// Standart class [START]
body {
  font-family: $font_main;
  font-size: 16px;
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

html {
  font-family: $font_main;
  font-size: 16px;
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}
// Standart class [END]

// ID [START]
// ID [END]

// help classes [START]
.bg_0 {
  background-color: $c_desk_color_0;
}

.bg_1 {
  background-color: $c_desk_color_1;
}

.bg_2 {
  background-color: $c_desk_color_2;
}

.bg_3 {
  background-color: $c_desk_color_3;
}

.bg_4 {
  background-color: $c_desk_color_4;
}

.bg_5 {
  background-color: $c_desk_color_5;
}

.lang {
  &--en {
    .lang--en_only {
      display: block;
    }
  }

  &--bg {
    .lang--bg_only {
      display: block;
    }
  }

  &--ru {
    .lang--ru_only {
      display: block;
    }
  }

  &--bg_only,
  &--en_only,
  &--ru_only {
    display: none;
  }
}
// help classes [END]
